<html lang="en">
<head>
  <meta name="viewport" content="initial-scale=1" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
  <link rel="stylesheet"  href="css/index.css">
  <script>
  var app = angular.module('app',["ngRoute"]);
    app.config(function($routeProvider) {
        $routeProvider
        .when("/", {
            templateUrl : "items.html"
        })
        .when("/cart", {
            templateUrl : "cart.html"
        });
    });
    app.controller('MyController', function($scope, $location, $http, cart) {
        var config = {
          method: 'GET',
          url: 'store_items.json'
        };
        $http(config).then(function (response) {
            $scope.data = response.data;
        });
        $scope.cartCount = 0;
        $scope.addThisItem = function(item,qty){
            cart.addItem(item,qty); 
            $scope.updateCount();  
        };
        $scope.getItems = function(){
            console.log(cart.returnCartItems());
        };
        $scope.updateCount = function(){
            $scope.cartCount = cart.returnCount();
        };
    });
    app.service("cart",function(){
        var cartItems = [];
        return {
            addItem : function(item,qty) {
                var temp = {};
                temp["itemName"] = item.itemName;
                temp["imgSrc"] = item.imgSrc; 
                temp["price"] = item.price * qty; 
                temp["qty"] = qty;
                cartItems.push(temp);
            },
            returnCartItems : function() {
                return cartItems;
            },
            returnCount : function() {
                return cartItems.length;
            },
            deleteItem : function() {
            }       
        };
    });
    app.controller('cartController', function($scope, cart) {
        $scope.cartData = cart.returnCartItems();
    });
  </script>
  <style>
  img {
    max-width: 300px;
    max-height: 300px;
}
.items {
    padding: 10px;
    width: 125px;
    display: block;

}
.items > span{
    display: block;
    padding: 10px;
}

}
</style>
</head>
<body ng-app="app">
    <div ng-view></div>
    <footer>
    <div id="footer1" style="background-color:pink">

    </div>
    <div id="footertwo">
        Contact us:<br>
        Phone: 9737358775<br>
        <a href="mailto:helpdesk@greencart.co.in">sandhya.indurkar@gmail.com</a><br>
        Follow us on: <br>
        <img src="img/facebook.png" style="height:35px;width:35px;">
        <img src="img/twitter.png" style="height:32px;width:32px;">
        <img src="img/googleplus.png" style="height:35px;width:35px;">
    </div>

    <div>
       Copyright © blah blah Pvt. Ltd. All Rights Reserved

   </div>

</footer>  
</body>


</html>
